<head>
    <title>In Progress</title>
</head>
<body>
    <h1 style="text-align: center; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; margin: 0;"><%= "In progress, contact the owner if you want to see more progress" %></h1>
    <!-- I'm in dare need of a "me time" just for a week. PLZ ME TIME FOR A WEEK. I'M JUST TIRED. LET ME OPEN SOCIAL MEDIA AND SCROLL MINDELESSLY FOR A DAY. GRIND AN RPG FOR A DAY PLZ ME TIME. A WEEK PLZ -->
    <!-- Sorry for blabering here -->
</body>