<!DOCTYPE html>
<html>
  <head>
    <%- include('template/~~must-added-tags~~') %>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/icons/logo.png" type="image/x-icon">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <section class="login-regist-wrapper hide">
      <div class ="user-login hide">
        <h1>Login</h1>
        <form method="post">
          <label for="email">Email: </label><br>
          <input type="email" name="email" id="email-login"><br>
          <label for="password">Password: </label><br>
          <input type="password" name="password" id="password-login">
          <div class="change-btn">
            <p>Belum punya akun? <span class="register">Registrasi akun</span></p>
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
      <div class ="user-regist hide">
        <h1>Register</h1>
        <form action="/register" method="post">
          <div class="first">
            <label for="name">Nama: </label><br>
            <input type="name" name="name" id="name"><br>
            <label for="email">Email: </label><br>
            <input type="email" name="email" id="email"><br>
            <label for="password">Password: </label><br>
            <input type="password" name="password" id="password">
            <div class="change-btn">
              <p>Sudah punya akun? <span class="login">Login akun</span></p>
              <div>Selanjutnya</div>
            </div>
          </div>
          <div class="second hide">
            <label for="tel">Nomor Telepon:</label><br>
            <input type="tel" name="tel" id="tel"><br>
            <label for="address">Alamat:</label><br>
            <textarea name="address" id="address" cols="30" rows="10"></textarea>
            <div class="change-btn">
              <p>Sudah punya akun? <span class="login">Login akun</span></p>
              <button type="submit">Register</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <%- include('template/header-nonlogged') %>
    <section class="banner">
      <div class="context">
        <div class="context-inside">
          <h1>Tempat Pembelian Komponen Komputer</h1>
          <p>Baru atau bekas yang berkualitas dan bergaransi</p>
          <a href="#category">> Temukan Produk</a>
        </div>
      </div>
      <img src="images/banner/Banner.png" alt="banner-image">
    </section>
    <section class="category">
      <h1 class="title">
        Apa yang ingin anda beli?
      </h1>
      <div class="products">
        <div class="cpu">
          <img src="images/icons/cpu-icon.png" alt="cpu-icon">
          <p>CPU</p>
        </div>
        <div class="gpu">
          <img src="images/icons/gpu-icon.png" alt="gpu-icon">
          <p>GPU</p>
        </div>
        <div class="cooler">
          <img src="images/icons/cooler-icon.png" alt="cooler-icon">
          <p>Cooler</p>
        </div>
        <div class="ram">
          <img src="images/icons/ram-icon.png" alt="ram-icon">
          <p>RAM</p>
        </div>
        <div class="storage">
          <img src="images/icons/storage-icon.png" alt="storage-icon">
          <p>Storage</p>
        </div>
        <div class="psu">
          <img src="images/icons/psu-icon.png" alt="psu-icon">
          <p>PSU</p>
        </div>
        <div class="motherboard">
          <img src="images/icons/motherboard-icon.png" alt="motherboard-icon">
          <p>Motherboard</p>
        </div>
        <div class="peripheral">
          <img src="images/icons/peripheral-icon.png" alt="peripheral-icon">
          <p>Periferal</p>
        </div>
      </div>
    </section>
    <section class="recommendation-products">
      <div class="product-card">
        <img src="images/product/RTX3090.png" alt="product">
        <p class="condition new">Baru</p>
        <div class="product-card-info">
          <h1>Product Name</h1>
          <div class="product-price">
            <p class="final-price">Rp. 100.000</p>
            <p class="original-price"> 
              <strike>
              Rp. 200.000
              </strike> 
            </p>
          </div>
          <div class="rating">
            <img src="images/icons/star.png" alt="star">
            <p>4.7</p>
          </div>
        </div>
      </div>
      <div class="product-card">
        <img src="" alt="">
        <p class="condition used">Bekas</p>
        <div class="product-card-info">
          <h1>Product Name</h1>
          <div class="product-price">
            <p class="final-price">Rp. 100.000</p>
            <p class="original-price"> 
              <strike>
              Rp. 200.000
              </strike> 
            </p>
          </div>
          <div class="rating">
            <img src="images/icons/star.png" alt="star">
            <p>4.7</p>
          </div>
        </div>
      </div>
    </section>
    <section class="sell-banner">
      <img src="images/banner/Banner-sell.png" alt="sell-banner">
      <div class="context">
        <div class="context-inside">
          <h1>Apa produk yang ingin anda jual?</h1>
          <p>Jual di STRIG dan dapatkan harga terbaik untuk produk Anda.</p>
          <a href="#">> Jual Produk</a>
        </div>
      </div>
    </section>
    <script src="javascripts/header.js"></script>
    <%- include('template/footer.ejs') %>
  </body>
</html>
