<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/~~must-added-tags~~') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell your product here</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
    <%- include('template/header-nonlogged') %>
    <h1>Jual Komponen PC</h1>
    <%- include('template/footer') %>
</body>
</html>