.logged-header .header-title img{
    height: 30px;
}

.logged-header *{
    margin: 0;
}

.logged-header{
    background-color: white;
    height: 12vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px -5px rgb(0 0 0 / 75%);
}

.logged-header .header-inside{
    padding: 15px 0;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.logged-header .header-search{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.logged-header .header-search-input{
    background-color: #D4D3D6;
    border: none;
    padding: 20px;
    border-radius: 10px;
    height: 40px;
    width: 30vw;
}

.logged-header .header-category{
    margin: 0 -40px;
    font-family: sans-serif;
    color: black;
}

.logged-header .header-search-input:focus{
    outline: black solid 1px;
}

.logged-header .header-search-button{
    margin-left: -40px;
    cursor: pointer;
    background-color: unset;
    border: none;
}

.logged-header .header-search-icon{
    width: 20px;
}

.logged-header .header-buttons{
    display: flex;
    flex: row;
    align-items: center;
}

.logged-header .header-cart{
    height: 40px;
}

.logged-header .header-jual{
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 90px;
    width: 120px;
    border: 2px solid #FF8C32;
    background-color: #FF8C32;
    color: white;
    font-weight: bold;
}

.logged-header .loggedin-image img{
    height: 50px;
    margin: 0;
    padding: 0;
}

.logged-header .loggedin-image{
    display: flex;
    align-items: center;
    background: none;
    margin: 0 30px;
    border: none;
    cursor: pointer;
}

.ui-autocomplete{
    position: fixed;
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    width: 30vw !important;
    border: 1px solid black;
}

.autocomplete-menu{
    position: sticky;
    top: inherit;
}

.ui-autocomplete li{
    padding: 10px 20px;
    cursor: pointer;
    width: auto;
}

.ui-autocomplete li:hover{
    background-color: #D4D3D6;
    border-radius: 10px;
}

.ui-autocomplete li div{
    width: auto;
    height: inherit;
}

.ui-helper-hidden-accessible {
    display: none;
}

.profile-dropdown{
    position: fixed;
    right: 10vw;
    display: flex;
    flex-direction: column;
    width: 260px;
    background-color: white;
}

.profile-dropdown > *{
    padding: 15px 20px;
}

.profile-dropdown a{
    color: black;
    text-decoration: none;
}

.profile-dropdown > * {
    border-bottom: 2px #C9C9C9 solid;
}

.profile-dropdown .logout-btn{
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    background: none;
    text-align: right;
    color: red;
    border: none;
    font-size: larger;
}

.tiny-profile{
    display: flex;
    flex-direction: row;
    box-shadow: black 0px 3px 10px -7px;
}

.tiny-profile img{
    margin-right: 20px;
    height: 50px;
}

.tiny-profile p{
    font-weight: bold;
}