
body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

section{
  height: 88vh;
}

.banner{
  display: flex;
  flex-flow: row;
}

.banner img{
  width: 50vw;
  object-fit: cover;
}

.banner .context{
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.banner .context-inside{
  width: 70%;
}

.banner .context-inside p{
  font-size: x-large;
  margin: 10px 0;
  font-weight: lighter;
}

.banner .context-inside h1{
  font-size: xx-large;
  margin: 0;
}

.banner .context-inside a{
  font-size: large;
  display: inline-block;
  color: #FF8C32;
  font-weight: bold;
  margin-top: 10vh;
}

.category{
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.category h1{
  font-size: xx-large;
  margin: 0;
}

.category .products{
  width: 65vw;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.category .products div{
  border-radius: 10px;
  box-shadow: 2px 2px 7px -3px rgb(0 0 0 / 75%);
  background-color: white;
  margin: 0 20px;
  margin-bottom: 40px;
  width: 11vw;
  height: 11vw;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.category .products p{
  font-size: large;
}

.category .products img{
  width: 5vw;
  object-fit: contain;
}

.product-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  
}