<footer>
    <div class="top-part">
        <section class="first">
            <a href="../">
                <img src="./images/icons/logo.png" alt="Logo">
            </a>
            <a href="#">Tentang Kami</a>
            <a href="#">Syarat Layanan</a>
            <a href="#">Kebijakan</a>
        </section>
        <section class="second">
            <p>Beli</p>
            <a href="#">Pengiriman</a>
            <a href="#">Prosedur Pengembalian</a>
        </section>
        <section class="third">
            <p>Jual</p>
            <a href="#">Prosedur Penjualan</a>
            <a href="#">Prosedur Testing Komponen</a>
        </section>
        <section class="fourth">
            <p>Ikuti Kami</p>
            <a href="https://facebook.com">Facebook</a>
            <a href="https://Instagram.com">Instagram</a>
            <a href="https://youtube.com">Youtube</a>
        </section>
    </div>
    <div class="copyright">
        <p>
            © Copyright STRIG Computer 2022
        </p>
    </div>
</footer>