<footer>
    <div class="top-part">
        <section class="first">
            
        </section>
        <section class="second">

        </section>
        <section class="third">
            
        </section>
        <section class="fourth">
            
        </section>
    </div>
    <div class="copyright">© Copyright STRIG Computer 2022</div>
</footer>