<nav class="logged-header hide">   
    <div class="header-inside">
        <h1 class="header-title">
            <a href="/">
                <img src="images/icons/logo.png" alt="logo">
            </a>
        </h1>
        <a class="header-category" href="/category">Kategori</a>
        <form method="get" class="header-search">
            <input type="search" name="search" class="header-search-input" id="input-search" placeholder="Cari Komponen">
            <button type="submit" class="header-search-button">
                <img class="header-search-icon" src="images/icons/search-icon.svg" alt="search">
            </button>
        </form>
        <div class="header-buttons">
            <a class="header-cart" href="/cart">
                <img src="images/icons/cart-icon.svg" alt="cart" class="header-cart">
            </a>
            <button class="loggedin-image"><img src="images/icons/user.png" alt="user-image"></button>
            <button class="header-jual">Jual</button>
        </div>
    </div>
</nav>
<div class="profile-dropdown hide">
    <div class="tiny-profile">
        <img src="images/icons/user.png" alt="user-profile">
        <p class="name">Your Name</p>
    </div>
    <a href="/seller">Daftar Produk Anda</a>
    <a href="/order">Daftar Pembelian</a>
    <a href="/profile">Pengaturan</a>
    <button class="logout-btn">Log Out</button>
</div>
<script src="javascripts/header-autocomplete.js"></script>