<nav class="logged-header hide">   
    <div class="header-inside">
        <h1 class="header-title">
            <a href="/">
                <img src="images/icons/logo.png" alt="logo">
            </a>
        </h1>
        <a class="header-category" href="/category">Kategori</a>
        <form method="get" class="header-search">
            <input type="search" name="search" class="header-search-input" id="input-search" placeholder="Cari Komponen">
            <button type="submit" class="header-search-button">
                <img class="header-search-icon" src="images/icons/search-icon.svg" alt="search">
            </button>
        </form>
        <div class="header-buttons">
            <a class="header-cart" href="/cart">
                <img src="images/icons/cart-icon.svg" alt="cart" class="header-cart">
            </a>
            <button class="loggedin-image"><img src="" alt="" srcset=""></button>
            <button class="header-jual">Jual</button>
        </div>
    </div>
</nav>
<script src="javascripts/header-autocomplete.js"></script>